<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}"></title>


	
	
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />




<link rel="stylesheet" th:href="@{/css/main.css}"
href="../static/css/main.css" />
</head>
<body>
	<div th:fragment="navbar" class="banner-area">
		<nav class="navbar sticky-top">
		        <ul>
					<li><a th:href="@{/}"><i class="fa fa-home" >Home</i></a></li>
					<li><a th:href="@{/cart}"><i class="fa fa-shopping-cart">Cart</i></a></li>
					<li><i class="fa fa-envelope">Search</i></li>
					<li><i class="fa fa-home">Location</i></li>
					<li><a th:href="@{/login}"><i class="fa fa-user" aria-hidden="true">Login</i></a></li>
					<li><a th:href="@{/registration}"><i class="fa fa-sign-in" aria-hidden="true">Registration</i></a></li>
					<li><i class="fa fa-home">V</i></li>
					
					
					
		        </ul>
        </nav>
	
 
	</div>
	
	


	<div th:fragment="footer" align="center" class="socialbtns">
	
	
<ul>
<li><a href="https://www.facebook.com/" class="fa fa-lg fa-facebook"></a></li>
<li><a href="https://twitter.com/" class="fa fa-lg fa-twitter"></a></li>
<li><a href="https://github.com/" class="fa fa-lg fa-github"></a></li>
<li><a href="https://www.pinterest.com/" class="fa fa-lg fa-pinterest"></a></li>
<li><a href="https://www.linkedin.com/" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="https://www.instagram.com/?hl=en" class="fa fa-lg fa-instagram"></a></li>
<li><a href="https://www.youtube.com/" class="fa fa-lg fa-youtube"></a></li>
</ul>
<h1>&copy; 2020</h1> <span th:if="${#request.userPrincipal != null}"> |
				Logged as user: <span style="color:white" th:text="${#request.userPrincipal.name}" ></span>
				<a style="color:white" th:href="@{/logout}">Log Out</a>
			</span>
</div>


	<div th:fragment="orderStepHeader (step)" class="step-line-wrapper">
		<ul>
			<li
				th:class="${step} == 1 ? 'active' : (${step} > 1 ? 'passed' : null)">
				<span class="circle">1</span> <span class="label">Products</span>
			</li>
			<li
				th:class="${step} == 2 ? 'active' : (${step} > 2 ? 'passed' : null)">
				<span class="circle">2</span> <span class="label">Contact
					Information</span>
			</li>
			<li
				th:class="${step} == 3 ? 'active' : (${step} > 3 ? 'passed' : null)">
				<span class="circle">3</span> <span class="label">Payment</span>
			</li>
			<li
				th:class="${step} == 4 ? 'active' : (${step} > 4 ? 'passed' : null)">
				<span class="circle">4</span> <span class="label">Finalize</span>
			</li>
		</ul>
	</div>

	<div th:fragment="cart" class="panel panel-default">
		<div class="panel-body">
			<div class="title">Cart content</div>

			<table class="table">
				<tr>
					<th></th>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>Ammount</th>
					<th>Total Price</th>
				</tr>
				<tr th:each="item : ${@cartContainer.cartItems}">

					<td th:text="${item.product.name}"></td>
					<td th:text="${item.product.price}"></td>
					<td th:text="${item.amount}"></td>
					<td
						th:text="${@cartContainer.getProductTotalPrice(item.product.id)}"></td>
				</tr>

				<tr></tr>
				<tr>
					<td>TOTAL:</td>
					<td></td>
					<td></td>
					<td th:text="${@cartContainer.totalPrice}"></td>
				</tr>
			</table>
		</div>
	</div>

	<div th:fragment="cartDelivery" class="panel panel-default">
		<div class="panel-body">
			<div class="title">Method of receiving goods</div>
			<div th:if="${@cartContainer.cart.deliveryAddress == null}">Pickup
				from the store</div>
			<div th:if="${@cartContainer.cart.deliveryAddress != null}">
				Delivery to:<span th:text="${@cartContainer.cart.deliveryAddress}"></span>
			</div>
		</div>
	</div>

</body>
</html>