<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<head th:replace="fragments :: head(title='Online Shop')"></head>


<body class="home">
	<div th:replace="fragments :: navbar"></div>

	
	  <div class="container">
        <hr>
        <div class="row mx-auto">
            <div class="col-md-3 col-sm-6 mt-3 hero-feature" th:each="product : ${products}">
                <div class="img-thumbnail">
                    <img th:src="@{'/images/'+${product.name}+'.jpg'}" height="90" width="90" class="rounded mx-auto d-block"/>
                    <div class="caption">
                        <h3  th:text="${product.name}"></h3>
                        <p th:text="${product.price}+ ' EUR'"></p>
   <a href="#" class="btn btn-primary" th:href="@{'/cart/add/' + ${product.id}}  ">Add Product To Cart</a>
       <a href="#" class="btn btn-default" th:href="@{/productDetail(product_id=${product.id})}">More Info</a>
   
   
             </div>
             </div>
                </div>
            </div>
        </div>
        
	
	
    <div th:replace="fragments :: footer"></div>
    
</body>
</html>