html, body { height: 100%; }

.body {
    padding-top: 70px;
  }
  
.container {
	width: 100%;
	margin: 0 auto -33px;
	text-align: center;
    position: absolute;
  	bottom: 0;
  	right:100px;
  	left:100px;
  	top: 80px;	
}


.banner-area{
	background-image : url(11.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
nav{
	width: 100%;
	padding: 0;
	background: crimson;
	margin: auto;
}
nav ul{
text-align: center;
margin: 0;
padding: 0;	
}
nav ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-size: 17px;
	width: 178px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	text-align: center;
	font-family: poppins;
}	
nav ul li i{
margin: 0 15px;	
}
nav ul li:hover {
	background: #000;
	color: #fff;
	font-weight: 900;
}

.fa {
  color : white;
}



.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	width: 100%;
	
}
 a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    color: #FFF;
	background-color: #000;
	width: 40px;
    height: 40px;
    padding-top: 12px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
  transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
  	transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
}

.socialbtns .fa:hover {
	transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

body.home {
    background-image: url(../images/restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
h1 {
  z-index: 1;
  position: relative;
  color:white;
}
.form-container{
background : #fff;
padding: 30px;
border-radius:10px;
box-shadow: 0px 0px 10px 0px #fff;
	
}
}
